.config {
  width: 35vw;
  float: left;
  padding-left: 5vw;
  margin-top: 20px;
}
.groupContainer {
  @include flex();
  width: 400px;
  .btn {
    margin-left: 20px;
    font-size: 30px;
    cursor: pointer;
    color: $success-color;
  }
}
