.statistic {
  min-height: $main-height;
  width: 100vw;
  @include flex(flex-start, flex-start, column);
}

.line {
  width: 50vw;
  @include flex(flex-start);
  margin: 10px;
}
.title {
  font-size: 26px;
  margin-right: 10px;
  width: 250px;
}
