.timing {
  min-height: $main-height;
  main {
    @include flex();
    flex-wrap: wrap;
    // 事件卡片
    .card {
      height: 300px;
      width: 200px;
      margin: 40px;
      padding: 10px;
      border-radius: 10px;
      @include flex(flex-start, flex-start, column);
      color: #333;
      &:hover {
        box-shadow: 5px 5px 5px 5px $border-color;
      }
      .nameBox {
        width: 100%;
        flex: 1;
        font-size: 30px;
        overflow: hidden;
        @include flex();
      }
      .btnBar {
        height: 20%;
        width: 100%;
        border-top: 1px solid $border-color;
        margin-top: 4px;
        @include flex(space-around);
        i {
          font-size: 28px;
          cursor: pointer;
        }
      }
    }
  }
}
