.listItem {
  @include flex(flex-start);
  width: $content-width;
  height: 80px;
  margin-top: 10px;
  border: 1px solid $border-color;
  border-radius: 4px;
  padding-right: 10px;
  cursor: pointer;
  .itemStatus {
    width: 14px;
    height: 100%;
  }
  .itemBtn {
    font-size: 30px;
    margin: 0 10px;
    transition: all 0.5s;
  }
  .itemText {
    flex: 1;
    font-size: 22px;
    @include ellipsis();
  }
  .doneText {
    color: #ccc;
    text-decoration: line-through;
  }
  .itemDate {
    font-size: 20px;
    color: $gray;
    align-self: flex-end;
  }
}
