.userPage {
  @include flex(flex-start, center, column);
  padding-top: 40px;
  position: relative;
  min-height: 80vh;
  .name {
    font-size: 30px;
    i {
      font-size: 30px;
      margin-right: 4px;
    }
  }
  .btnLine {
    width: 200px;
    @include flex(space-around);
    position: absolute;
    bottom: 10px;
    color: $gray;
  }
}
