.addIcon {
  position: fixed;
  bottom: 15vh;
  right: 40px;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  background-color: $theme-color;
  color: #fff;
  @include flex();
  cursor: pointer;
  i {
    font-size: 40px;
  }
}
